div[role=main] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table > caption {
  font-size: 2rem;
}

.github-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
